{% extends 'base.html' %}

{% block content %}
<h1 class="mb-4">{{ title }}</h1>
<p>Этот сайт демонстрирует возможности поиска товаров на популярных маркетплейсах. Вы можете находить интересующие товары, просматривать их характеристики и сохранять историю своих запросов.</p>
<p>Сервис объединяет результаты с Wildberries, Яндекс.Маркета и Мегамаркета позволяя сортировать их по цене, рейтингу или популярности. Зарегистрированные пользователи получают доступ к истории поиска и могут быстро возвращаться к найденным ранее товарам.</p>
{% endblock %}